/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */

#root {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 90rem) {
  .create-cv {
    gap: var(--space-8);
    padding: var(--space-10);
  }

  .preview-cv {
    padding: var(--space-10);
  }
}

@media (max-width: 80rem) {
  .create-cv {
    gap: var(--space-6);
    padding: var(--space-8);
  }

  .preview-cv {
    padding: var(--space-8);
  }
}

@media (max-width: 70rem) {
  .create-cv {
    gap: var(--space-5);
    padding: var(--space-6);
  }

  .preview-cv {
    padding: var(--space-6);
  }
}

@media (max-width: 60rem) {
  .create-cv {
    gap: var(--space-4);
    padding: var(--space-5);
  }

  .preview-cv {
    padding: var(--space-5);
  }
}

@media (max-width: 50rem) {
  .create-cv {
    padding: var(--space-4);
  }

  .preview-cv {
    padding: var(--space-4);
  }
}

@media (max-width: 45rem) {
  #root {
    grid-template-columns: repeat(1, 1fr);
  }
}