.cv-section {
  display: grid;
  gap: 2.0168067cqi;
}

.cv-section-header {
  font-size: 2.68907563cqi;
  font-weight: var(--fw-bold);
  padding: 0.840336cqi;
  border: 1px solid var(--teal-950);
  color: var(--teal-950);
  text-align: center;
}

.cv-list {
  display: grid;
  gap: 1.3445378cqi;
}
