.input-block {
  display: grid;
  gap: var(--space-2);
}

.input-block input {
  padding: var(--space-4);
  border-radius: 0.5rem;
  background-color: var(--neutral-200);
  color: var(--neutral-900);
  border: 1px solid var(--neutral-500);
}