.contacts-section {
  container: contacts / inline-size;
}

.item {
  container: item / inline-size;
}

.input-wrapper {
  display: grid;
  gap: var(--space-4);
}

.contacts-section .input-wrapper {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  'one one'
  'two two'
  'three four'
  'five five';
}

.contacts-section .input-wrapper > *:nth-child(1) {
  grid-area: one;
}

.contacts-section .input-wrapper > *:nth-child(2) {
  grid-area: two;
}

.contacts-section .input-wrapper > *:nth-child(3) {
  grid-area: three;
}

.contacts-section .input-wrapper > *:nth-child(4) {
  grid-area: four;
}

.contacts-section .input-wrapper > *:nth-child(5) {
  grid-area: five;
}


.item .input-wrapper {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  'one one two two'
  'three three four five'
  'six six six six';
}

.item .input-wrapper > *:nth-child(1) {
  grid-area: one;
}

.item .input-wrapper > *:nth-child(2) {
  grid-area: two;
}

.item .input-wrapper > *:nth-child(3) {
  grid-area: three;
}

.item .input-wrapper > *:nth-child(4) {
  grid-area: four;
}

.item .input-wrapper > *:nth-child(5) {
  grid-area: five;
}

.item .input-wrapper > *:nth-child(6) {
  grid-area: six;
}

@container contacts (max-width: 19rem) {
  .contacts-section .input-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five';
  }
}

@container item (max-width: 35.5rem) {
  .item .input-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'one two'
    'three three'
    'four five'
    'six six';
  }
}

@container item (max-width: 24rem) {
  .item .input-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five'
    'six';
  }
}