.item {
  display: grid;
  gap: var(--space-4);
  border: 1px solid var(--neutral-700);
  border-radius: 0.5rem;
  padding: var(--space-6);
}

.item-header{
  display: flex;
  align-items: center;
  gap: var(--space-2);
  cursor: pointer;
}

.header-text {
  margin-right: auto;
}