.preview-cv {
  display: grid;
  padding: var(--space-12);
  container: preview / inline-size;
}

.cv {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--neutral-0);
  color: var(--neutral-1100);
  height: 141.5126cqi;
}

.cv-header {
  padding: 3.697479cqi 6.05042cqi;
  background-color: var(--teal-850);
  color: var(--teal-250);
  text-align: center;
}

.name {
  font-size: 5.88235294cqi;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.info {
  font-size: 2.974722689cqi;
}

.cv-body {
  display: flex;
  flex-direction: column;
  gap: 2.68907563cqi;
  padding: 5.04201689cqi 6.05042cqi;
}