section {
  display: grid;
  gap: var(--space-6);
  padding: var(--space-8);
  background-color: var(--neutral-0);
  color: var(--neutral-1100);
  stroke: var(--neutral-1100);
  border-radius: 1rem;
}

.section-header {
  display: grid;
  gap: var(--space-2);
}

h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
}

h2:hover {
  color: var(--blue-600);
}